.alert.modal {
	width: 325px;
	height: fit-content;

	padding-top: 15px;

	background-color: white;
	border-radius: 8px;
}


.alert.modal .icon.container {
	width: 100%;
	margin-bottom: 10px;
	svg {
		font-size: 72px;
		padding: 10px;
	}
}

.alert.modal .icon.color {
	border-radius: 100%;
}

.alert.modal .title {
	font-size: 38px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

.alert.modal .message {
	margin: 0px 15px 0px 15px;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	color: rgb(40, 40, 40);
}

.alert.modal .button.container {
	margin-top: 35px;
	width: 100%;
}

.alert.modal button {
	height: 60px;
	width: 100%;

	border: none;
	font-size: 32px;
	font-weight: 600;
	color: white;
	cursor: pointer;

	transition: all 0.1s;
}

.alert.modal button.confirm {
	background-color: #d4573b;
}

.alert.modal button.confirm:hover {
	background-color: #933d29;
	transition: all 0.1s;
}

.alert.modal button.confirm:active {
	transform: translateY(1px);
	transition: all 0.1s;
}