.userLi {
	height: 80px;
	transition: all 0.2s ease-in-out;
}

.userLi.odd {
	background-color: #ffffff;
}

.userLi.odd.selected {
	background-color: #ffa7a7;
}

.userLi.even {
	background-color: #f3f3f3;
}

.userLi.even.selected {
	background-color: #ff8d8d;
}

.profilePic {
	width: 60px;
	height: 60px;
	border-radius: 100%;

	object-fit: cover;

	filter: drop-shadow(0px 0px 2px darkgray);
}

.container.check {
	width: 50px;
	height: 100%;
}

.container.image {
	width: 70px;
	height: 100%;
}

.container.name {
	width: 450px;
	height: 100%;

	font-size: 22px;

	padding-left: 5px;
}

.container.date {
	width: 220px;
	height: 100%;
}

.name {
	font-weight: 300;
}

.date {
	font-weight: 300;
	text-align: center;
}

.edit {
	user-select: none;
	width: 90px;
	text-align: center;
	display: inline;
	font-weight: 400;
	color: rgb(80, 80, 80);
	cursor: pointer;
	justify-content: space-around;
	transition: all 0.1s;
}

.edit:hover {
	text-decoration: underline;
}

.edit:active {
	transform: translateY(1px);
	transition: all 0.1s;
}
