.container.box {
	width: 700px;
	height: 800px;

	margin-top: 50px;

	font-family: "Kanit", sans-serif;

	background-color: white;
	filter: drop-shadow(0px 5px 8px darkgray);
	border-radius: 8px;
}

.delete.container {
	width: 47px;
	height: 50px;
}

button.delete:disabled {
	color: rgb(80, 80, 80);
	background-color: transparent;
	cursor: default;
}

button.delete:disabled:hover {
	background-color: transparent;
}

button.delete:disabled:active {
	transform: none;
}

button.delete {
	height: 30px;
	width: 30px;

	margin-left: 2px;

	border-radius: 100%;
	border: none;

	font-size: 18px;

	background-color: transparent;
	color: #d50000;

	cursor: pointer;
	transition: all 0.1s;
}

button.delete:hover {
	background-color: #e9e9e9;
}

button.delete:active {
	transform: translateY(1px);
	transition: all 0.1s;
}

.search.container {
	width: 100%;
	padding: 10px 20px 10px 20px;
	border-left: 1px solid rgb(217, 217, 217);

	p {
		color: rgb(80, 80, 80);
	}
}

.labelsColumns {
	height: 30px;
	border-bottom: 1px solid rgb(217, 217, 217);
	border-top: 1px solid rgb(217, 217, 217);
}

.column {
	height: 100%;
	border-right: 1px solid rgb(217, 217, 217);
	color: rgb(100, 100, 100);
}

.column.check {
	width: 45px;
}

.column.name {
	width: 392px;
	padding-left: 10px;
}

.column.date {
	width: 180px;
	padding-left: 10px;
}

button.column {
	background-color: transparent;
	cursor: pointer;
	transition: all 0.1s;
	border: none;
	border-right: 1px solid rgb(217, 217, 217);
}

button.column:hover {
	background-color: #f3f3f3;
}

button.column:active {
	div:last-child {
		transform: translateY(1px);
		transition: all 0.1s;
	}
}

ul {
	height: 720px;
	border-radius: 0px 0px 8px 8px;
	margin: 0;
	list-style: none;
	list-style-position: inside;
	padding: 0;
	overflow-y: scroll;
}

.loading {
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	width: 100%;
	height: 720px;
	h4 {
		margin-top: -80px;
		font-size: 70px;
		padding: 20px;
		background: linear-gradient(
			to right,
			rgb(80, 80, 80) 20%,
			#727272 50%,
			rgb(80, 80, 80) 80%
		);
		background-size: 200% auto;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		animation: loading 1s linear infinite;
		animation-direction: reverse;
	}
}

.noResults {
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 8px;
	width: 100%;
	height: 720px;
	h4 {
		margin-top: -80px;
		font-size: 70px;
		padding: 20px;
		color: rgb(80, 80, 80);
	}
}

@keyframes loading {
	to {
		background-position: 200% center;
	}
}

@media (max-width: 1350px) {
	.container.box {
		margin-top: 620px;
	}

	ul {
		overflow-y: visible;
	}
}
