.containerBox {
	width: 880px;
	height: 750px;

	margin-top: -50px;

	font-family: "Kanit", sans-serif;

	background-color: white;
	filter: drop-shadow(0px 5px 10px darkgray);
	border-radius: 4px;
}

.searchContainer {
	padding: 10px 20px 10px 20px;

	border-bottom: 1px solid #e1e1e1;

	input {
		width: 200px;
		height: 30px;

		padding: 0px 8px 0px 8px;

		background-color: rgb(243, 243, 243);

		font-size: 14px;

		border-radius: 20px;
		border: 1px solid rgb(217, 217, 217);

		margin-left: 10px;
	}

	label {
		font-weight: 300;
		font-size: 20px;
	}

	p {
		color: rgb(80, 80, 80);
	}
}

.labelsColumns {
	height: 30px;
	border-bottom: 1px solid rgb(217, 217, 217);
}

.column {
	height: 100%;
	border-right: 1px solid rgb(217, 217, 217);
	color: rgb(100, 100, 100);
}

.column.check {
	width: 50px;
}

.column.name {
	width: 520px;
	padding-left: 10px;
}

.column.date {
	width: 220px;
	padding-left: 10px;
}

.arrow {
	margin-left: 5px;
	color: #d40000;

	font-size: 18px;

	cursor: pointer;
	transition: all 0.1s;
}

.arrow:active {
	transform: translateY(1px);
	transition: all 0.1s;
}

ul {
	height: 100%;
	margin: 0;
	list-style: none;
	list-style-position: inside;
	padding: 0;
	overflow-y: scroll;
}
